html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.answer-button {
    width: 10vh;
}

.header {
    background: #ff6d00;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-form {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.question-form {
    display: flex;
    flex-direction: column;
}

.cat-score-row {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

h1 {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 900;
    font-size: 6vh;
}

#semafor {
    display: flex;
    flex-direction: row;
}

#question-mark {
    font-weight: 700;
    margin: 15px;
}

#time-counter {
    width: 100%;
    font-weight: 700;
    margin: 15px;
    text-align: center;
}

#counter {
    position: absolute;
    right: 10px;
    font-size: 2em;
    font-weight: 700;
}

#question {
    text-align: center;
    padding: 40px 0px;
    margin: 0px 10px;
}

#finish {
    margin: 50px 10px;
    text-align: center;
    font-size: larger;
    font-weight: 600;
}

.hehe {
    display: flex;
    justify-content: center;
    align-items: center;
}

#name {
    width: 10rem;
}

#again {
    width: 100%;
    text-align: center;
}

#error {
    margin: 50px 10px;
    text-align: center;
    font-size: larger;
    font-weight: 600;
}

h3,
.dropdown-toggle {
    color: white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 3vh;
}

.btn {
    background-color: #ff6d00 !important;
    border: none !important;
    margin: 1.5%;
}

.hide {
    display: none;
}